.TicTacToeBtn{
  height:130px;
  width:130px;
  font-size: 80px;
}
.TicTacToeBtn-0:after{
  content: "+";
  color: grey;
}
.TicTacToeBtn-1:after{
  content: "X";
  color: red;
}
.TicTacToeBtn-2:after{
  content: "O";
  color: blue;
}
.board{
  text-align: center;
}
