#boardDiv {
height: 650px;
width: 600px;
margin: 0 auto;
overflow: auto;
}

#containerDiv {
height: 720px;
width: 680px;
background-color: #7a9a9f;
padding-top: 30px;
border: 12px solid #222222;
border-radius: 12px;
}

#newGameButton{
  background-color: white;
  margin-left:40px;
  margin-tpx;
  height: 45px;
  width: 180px;
  font-size: 20px;
  outline: 0;
}

.boardButton {
height: 200px;
width: 200px;
background-color: #6c698d;
outline:0;
border: 6px solid #bfc0c0;
display: table-cell;

}

#row1{
  display: table;

}

#row2{
  display: table;

}

#row3{
  display: table;

}

img {
  height: 100%;
  width: 100%;


}
